body{
  margin: 0 !important;
  padding:0 !important;
  overflow-x:hidden;
   
}
.carousel-inner .carousel-caption{
  top:18%;
  left:0px;
  z-index: 10;
  padding-left: 9%;
  padding-right: 2%;
}

.bg-img{

  background-size: cover;
  background-repeat: no-repeat;
  object-position: center center;
  background-position:center center;
  
}
.circle-icon {
  background: orangered;
  width: 180px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  padding-top: 30px;
  margin-top: 25px;
  margin-left: 20px;
  vertical-align: middle;
  color: white;
}
.btn.btn-style{

  background: orangered;
  border: 1px solid orangered;
  border-radius:40px;
  color:white;
}
.btn.btn-style:hover{
  color:orangered;
  background-color: white;


}

.icon-orangered{
    color: orangered;
}
.btn-group button {

  color: white; /* White text */
  font-size:100%;
  display: table;
  width: 50 ;
  margin-right: -30px;
  padding: 10px;
  box-sizing:border-box ;
  border-right: none;
  

}
  .text{
      margin: 50;
    padding: 30px;}


.static-size {
  width: 65px;
  height: 200px;
}

.icon-style {
    font-size: 1px;
    padding: 7px;
  }

  .i-style {
   
    padding: 10px;
  }
  .custom-h3 {
    font-size: 15px;
  }

  .h5-style{

    font-size: 13px;

  }
  
  .custom-btn {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }
  
 
  
  input[type="email"].form-control {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }

  


  .custom-btn {
    padding-left: 5;
    padding-right: 10px;
  }




  
  


.static-size {
  width: 65px;
  height: 200px;
}

.icon-style {
    font-size: 1px;
    padding: 7px;
  }

  .i-style {
   
    padding: 10px;
  }
  .custom-h3 {
    font-size: 15px;
  }

  .h5-style{

    font-size: 13px;

  }
  
  .custom-btn {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }
  
 
  
  input[type="email"].form-control {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }

  


  .custom-btn {
    padding-left: 5;
    padding-right: 10px;
  }

  .column {
    float: left;
    width: 33.33%;
    margin: 0 !important;
    padding: 0 !important;
  }

.h-60{
height: 60%;
}

.input{

box-shadow:none;
  border-bottom:1px solid rgba(255, 255, 255, 0.2) !important;
  border:none;
   background: inherit;
   color:white !important;
   height: 60px;
   
   
}
select option{
color:black;

}

::placeholder {
color: white;
}


.carousel .carousel-indicators li {

background-color:rgb(130, 119, 107)
}
.carousel .carousel-indicators li.active {background-color: orangered;}



.container{
  height: 100%;
}


.card {
  width: 280px;
  height: 520px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}

.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #1b9ce3;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.center {
  margin: auto;
  width: 80%;
  
  padding: 10px;
}
.card .pic {
  position: relative
}

.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}

.card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #1b9ce3;
  color: white;
  position: absolute;
  bottom: 0px;
  transition: all ease
}

.card .date .day {
  font-size: 14px;
  font-weight: 600
}

.card .date .month,
.card .date .year {
  font-size: 10px
}

.card .text-muted {
  font-size: 12px
}

.card:hover .text-muted {
  color: #fff !important
}

.card .content {
  padding: 0 20px
}

.card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #1b9ce3;
  border-radius: 25px;
  font-size: 12px;
  border: none
}

.card:hover .content .btn {
  background: #fff;
  color: #1b9ce3;
  box-shadow: #0000001a 0px 3px 5px
}

.card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px
}

.card .content .foot .admin {
  color: #1b9ce3;
  font-size: 12px
}

.card:hover .content .foot .admin {
  color: #fff
}

.card .content .foot .icon {
  font-size: 12px
}

.single-footer h3{
  font-weight:500;
  margin-bottom: 25px;
  color:#fafafa;
  

}
.link-area li{
  padding: 5px 5px5px 0;
  list-style: none;
 
}
.link-area li a{
  text-transform: capitalize;
  
}
.link-area{
  padding: 0;
  text-align: center ;
  display: inline-block;
 
}

  .d-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    
    .d-inline-flex {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important; }



  


