
body{

    overflow-x:hidden;
    
}
.bg-img{

    background-size: cover;
    background-repeat: no-repeat;
    object-position: center center;
    
}
.btn.btn-style{

    background: orangered;
    border: 1px solid orangered;
    border-radius:40px;
    color:white;
}

.btn.btn-style:hover{
    color:orangered;
    background-color: white;
  

}
.icon-orangered{
    color: orangered;
}
.btn-group button {

    color: white; /* White text */
    font-size:100%;
    display: table;
    width: 50 ;
    margin-right: -30px;
    padding: 10px;
    box-sizing:border-box ;
    border-right: none;
    
  
  }
  .text{
      margin: 50;
    padding: 30px;}


.static-size {
  width: 100px;
  height: 200px;
}

.icon-style {
    font-size: 1px;
    padding: 7px;
  }

  .i-style {
   
    padding: 10px;
  }
  .custom-h3 {
    font-size: 15px;
  }

  .h5-style{

    font-size: 15px;

  }
  
  .custom-btn {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }
  
 
  
  input[type="email"].form-control {
    height: 35px;
    width: 180px;
    padding: 20px;
    font-size: 15px;
  }

  


  .custom-btn {
    padding-left: 5;
    padding-right: 10px;
  }




  
  


